* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #f5f5f5;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 20px 0; */
  background-color: white;
  color: #333;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

nav {
  /* background-color: red; */
  width: 1200px;
  display: flex;
  gap: 20px;
  position: relative;
  justify-content: space-between;
  align-items: center;
  /* width: 100%; */
  margin: 0 auto;
}
.logo {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  width: 90px;
  margin-right: 20px;
  border-radius: 50%;
}

nav a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 5px;
  transition: color 0.3s ease;
}
nav a:hover,
.active {
  color: black;
  background-color: green;
}
.a-logo:hover {
  background-color: transparent;
}

@media (max-width: 760px) {
  nav a {
    display: flex;
    flex-direction: column;
  }
  .menu {
    display: block;
  }
  .list {
    display: none;
  }
  .container {
    width: 100%;
    padding: 20px;
  }
}

.body {
  padding-top: 80px;
  width: 100%;
  background-image: url("../images/clouds-cropland-crops-461960.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.body h1 {
  font-size: 48px;
  color: #fff;
  text-align: center;
  margin-top: 100px;
}
.body p {
  font-size: 24px;
  color: #fff;
  text-align: center;
  margin-top: 20px;
}

.body .intro {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

span {
  color: green;
  font-weight: bold;
}

.intro-p {
  font-size: 18px;
  color: #fff;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
.intro a {
  color: green;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 20px;
  border: 2px solid green;
  border-radius: 5px;
  transition: color 0.3s ease;
}
.intro a:hover {
  color: yellow;
}

.intro .learn {
  background-color: green;
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.intro .learn:hover {
  background-color: rgb(214, 150, 150);
}

.container {
  width: 100%;
  display: flex;
  gap: 20px;
  flex-direction: row;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 20px;
  flex-wrap: wrap;
}

@media (max-width: 760px) {
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px;
    background-color: red;
  }
}

.navbar {
  display: block;
}
.small-navbar {
  display: none;
}
.small-navbar img {
  width: 24px;
}

.small-navbar button {
  padding: 5px 9px;
  cursor: pointer;
  background: transparent;
  border-radius: 4px;
  border: 2px solid green;
}
@media (max-width: 760px) {
  .navbar {
    /* display: none; */
    position: absolute;
    right: -300px;
    width: 300px;
    top: 110px;
    height: calc(100vh - 100px);
    background-color: rgba(0, 0, 0, 0.779);

    display: flex;
    flex-direction: column;
    padding: 10px;

    a {
      color: white;
      border-bottom: 1px solid white;
      border-radius: 0;
      margin-bottom: 10px;
    }
  }
  .small-navbar {
    display: block;
  }
}
